[Unit]
Description=scibot bookmarket sync daemon
After=network.target

[Service]
PIDFile=/run/scibot-bookemarklet-sync/pid
User=scibot
Group=scibot
RuntimeDirectory=scibot-bookmarklet-sync
WorkingDirectory=/var/lib/scibot/scibot
EnvironmentFile=/etc/systemd/system/scibot-bookmarklet.service.d/env.conf
ExecStart=/var/lib/scibot/.local/bin/pipenv run scibot-sync
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
WantedBy=scibot-bookmarklet.service
