[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = '3.7'

[packages]
hyputils = {editable = true, ref = "master", git = "https://github.com/tgbugs/hyputils.git"}
ontquery = {editable = true, ref = "master", git = "https://github.com/tgbugs/ontquery.git"}
pyontutils = {editable = true, ref = "master", git = "https://github.com/tgbugs/pyontutils.git"}
"e1839a8" = {path = ".", editable = true}
