<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>SciBot Curation Dashboard</title>
        <link href={{ url_for('route_css_table_style') }} rel="stylesheet">
        <style type="text/css">
{{ navbar_style }}
tr:hover { background-color: inherit; }
td:hover { background-color: #fcfcfc; }
        </style>
    </head>

    <body>
        {{ navbar|safe }}
        <div class="main">
            <h2>SciBot Curation Dashboard</h2>
            {{ var }}<br><br>
            <table align="center" cellspacing="20">
                <tr>
                    <td>
                        <a href={{ url_for('route_anno_missing') }}>Missing ({{ nmissing }})</a>
                    </td>
                    <td>
                        <a href={{ url_for('route_anno_unresolved') }}>Unresolved ({{ nures }})</a>
                    </td>
                    <td>
                        <a href={{ url_for('route_anno_incorrect') }}>Incorrect ({{ incor }})</a>
                    </td>
                    <td>
                        <a href={{ url_for('route_papers') }}>Papers ({{ npapers }})</a>
                    </td>
                    <td>
                        <a href={{ url_for('route_no_pmid') }}>No PMID ({{ nnopmid }})</a>
                    </td>
                    <td>
                        <a href={{ url_for('route_no_annos') }}>No Annos ({{ nnoannos }})</a>
                    </td>
                    <td>
                        <a href={{ url_for('route_table') }}>All Problems ({{ allp }})</a>
                    </td>
                </tr>
            </table>

        </div>
    </body>
</html>
