<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>SciBot Curation Dashboard</title>
        <link href={{ url_for('route_css_table_style') }} rel="stylesheet">
    </head>

    <body>
        <h2>SciBot Curation Dashboard</h2>
        {{ var }}<br><br>

        <a href={{ url_for('route_anno_search') }}>Search</a>
        <table align="center" cellspacing="20">
            <tr>
                <td>
                    <a href={{ url_for('route_anno_missing') }}>List of Missing</a>
                </td>
                <td>
                    <a href={{ url_for('route_anno_unresolved') }}>List of Unresolved</a>
                </td>
                <td>
                    <a href={{ url_for('route_anno_incorrect') }}>List of Incorrect</a>
                </td>
                <td>
                    <a href={{ url_for('route_Paper_List') }}>Paper List</a>
                </td>
                <td>
                    <a href={{ url_for('route_no_PMID') }}>Papers with no PMID</a>
                </td>
                <td>
                    <a href={{ url_for('route_no_annos') }}>Papers with no Annos</a>
                </td>
                <td>
                    <a href={{ url_for('route_table') }}>All Problems</a>
                </td>
            </tr>
        </table>

    </body>
</html>
