<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <link href={{ url_for('route_css_table_style') }} rel="stylesheet">
    </head>
    <body>
        <table cellpadding = 3 cellspacing = 0>
            <tr>
                <td>Problem</td>
                <td>PMID</td>
                <td>Link</td>
                <td>Annotated By</td>
                <td>Notes</td>
            </tr>
            {{returnStr}}
        </table>
    </body>
</html>
